{{#d-modal-body title="modal.title"}}
  <div>{{i18n "modal.content"}}</div>
  <div class="action-buttons">
    {{d-button
      action=(action "goBackAndFix")
      label="modal.button"
    }}
  </div>
{{/d-modal-body}}
